psutil
PyYAML
python-dotenv
transformers
scikit-learn
paddlepaddle
paddleocr>=2.0.6
pymupdf
openai
fastapi
xlsxwriter
pyyaml 
pymongo
uvicorn
pytesseract
pydantic
openpyxl
rank_bm25
fuzzywuzzy
ldap3
python-multipart
pytz
llama_index
llama-index-llms-ollama
python-jose
python-Levenshtein
formulas
pandas