psutil
PyYAML
python-dotenv
opencv-python-headless
pandas
torch
torchvision 
torchaudio
transformers
paddlepaddle-gpu
paddleocr>=2.0.6
scikit-learn
pymupdf
openai
fastapi
llama-index-multi-modal-llms-ollama
llama-index
qwen-vl-utils
llama-index-llms-ollama
xlsxwriter
pyyaml 
pymongo
uvicorn