.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background-color: #f8f9fa;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e0e0e0;
}

.sidebar h1 {
  margin-top: 10px;
  color: #0099ff;
  font-size: 28px;
  text-align: center;
  border-bottom: 2px solid #0099ff;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.sidebar button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
}

.sidebar button:hover {
  background-color: #0099ff;
  color: white;
}
.sidebar button:hover .icon {
  color: white;
}

.sidebar button .icon {
  color: #6F6B7D;
  margin-right: 10px;
  font-size: 22px;
}
.sidebar button {
  color: #6F6B7D;
}

.sidebar button.active {
  background-color: #0099ff;
  color: white;
}
.sidebar button.active .icon{
  color: white;
}

.sidebar .logout {
  margin-top: auto;
  color: #666;
}

.content {
  width: 80%;
  padding: 20px;
  background-color: #fff;
}

.add-invoice .icon {
  font-size: 36px;
  margin-bottom: 20px;
  color: #999;
}

.add-invoice .file-types {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.add-invoice .file-types span {
  color: #666;
}

h2 {
  color: #0099ff;
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

.user-info p {
  margin: 20px 0 0 30px;
  font-size: 20px;
  color: #555;
}

.user-info p strong {
  color: #333;
}

.user-info p:first-child {
  margin-top: 0;
}
