.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.login-box {
background-color: white;
padding: 2rem;
border-radius: 8px;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
width: 100%;
max-width: 479px;
height: auto; /* Changed from fixed height to auto */
}

.login-header {
display: flex;
flex-direction: column; /* Changed to column layout */
align-items: center;
margin-bottom: 2rem;
}

.logo-container {
margin-bottom: 1rem; /* Space between logo and header */
width: 100%;
display: flex;
justify-content: center;
}

.logo {
width: 120px; /* Increased size of logo */
height: auto; /* Maintain aspect ratio */
}

h1 {
font-size: 2.0rem; /* Slightly smaller font size to accommodate larger logo */
color: #0e7caf;
margin: 0;
text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center; /* Center h2 for a balanced look */
}


.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
    font-size: 0.9rem;
}

input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fafafa;
    position: relative; /* Relative position for input fields */
    transition: all 0.2s ease-in-out;
}

input:focus {
    border-color: #0099ff;
    background-color: #0099ff15;
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #0099ff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

.login-button .ant-spin .ant-spin-dot-holder {
    color: #fff;
}

input::placeholder {
    color: #999;
}

.password-input {
    position: relative; /* Keeps the eye icon with the password input */
}

.password-toggle {
    position: absolute;
    right: 15px;
    top: 57%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
    font-size: 20px;
}

.password-toggle span {
    font-size: 22px;
}

.login-button:hover {
    background-color: #0077cc;
}

.error-message {
    color: #ff0000;
    margin-top: 1rem;
    text-align: center;
}
